.cover {
    width: 100%;
    min-height: 100vh;

    .cardContainer {
      display: grid;
      grid-template-columns: repeat(auto-fill, 250px);
      grid-template-rows: repeat(auto-fill, 55px);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      justify-items: center;
      justify-content: center;
      padding-top: 2em;
      padding-bottom: 2em;
      margin: 0 auto;
      max-width: 1024px;
      min-height: 400px;
    }

    p {
      font-size: 2em;
      color: white;
    }

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #000;
    background-image: linear-gradient(to top, rgba(26,40,120,0.70), rgba(10,143,196,0.70));

    .form {
      max-width: 1024px;
      margin: auto;
      padding: 2em;
      font-size: 18px;
    }
}
