.container {
  background-color: #282c34;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;


  .mainMenu {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 15px 0;

    ul {
      list-style: none;
      
      padding-left: 0;
    }
    a {
      text-decoration: none;
      color: white;
    }
    li {
      margin-right:5px;
      display: inline-block;
      font-size: 1em;
      margin-left: 2em;
    }
  }
  .copyright {
    font-size: 0.8em;
    margin-bottom: 10px;
  }
}