.container {
  background-color: #282c34;
}

.main-menu {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;



  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  a {
    text-decoration: none;
    color: white;
  }
  li {
    margin-right:5px;
    display: inline-block;
    font-size: 1.5em;
    margin-left: 2em;
    color: white;
   }

   .logo {
     height: 50px;
     width: auto;
     margin-left: 40px;
     margin-bottom: 5px;
     margin-top: 5px;
   }
}

